body {
  background-color: #191A19;
}

.container {
  display: flex;
  margin: 5px;
  gap: 5px;
}

.rooms {
  width: 20%;
  height: 98vh;
  border-radius: 5px;
  background-color: #4E9F3D;
  display: flex;
  flex-direction: column;
  gap:5px;
  align-items: center;
}

.chat {
  width: 80%;
  height: 98vh;
  border-radius: 5px;
  background-color: #D8E9A8;
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
}

.sala {
  margin:5px;
  background-color: #1E5128;
  padding: 5px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}